

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  color: #ddd;
  font-size: 18px;
}


/* Bloc de réservation avec image en fond */
.reservation-background {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;

    background-size: cover;        /* L’image couvre tout */
    background-position: center;   /* Bien centrée */
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5); /* Sécurité si pas d'image */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fond général */
body {
    backdrop-filter: blur(3px);
    color: white;
    font-family: 'Courier New', monospace;
}

/* Formulaire */
form {
    width: 80%;
    max-width: 650px;
    margin: 40px auto;
    background: rgba(0,0,0,0.6);
    padding: 25px;
    border-radius: 15px;
    border: 2px solid white;
    backdrop-filter: blur(5px);
}

form ul {
    list-style: none;
}

form li {
    margin-bottom: 18px;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

input[type="date"],
input[type="number"],
input[type="radio"] {
    margin-top: 5px;
}

/* Bouton */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgb(255, 153, 121);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    transform: scale(1.03);
    background-color: rgb(255, 120, 95);
}

/* Prix */
#prix {
    font-size: 1.2rem;
    color: #ffddaa;
    margin-bottom: 15px;
}