*{
    font-family: 'Courier New', Courier, monospace;
}

div{
    text-align: center;
    color:blue;
    padding: 50px;
    border: 5px solid rgb(1, 1, 3);
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
    font-size: 25px;
}

p#liste{
    color:blueviolet;
    border: 5px solid rgb(77, 77, 77);
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}